{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-moviepage{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% for item in page.movie_images.all %}
                {% image item.image fill-240x320 class='thumbnail' %}
            {% endfor %}
        </div>
        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            {{ page.description|richtext }}
        </div>
    </div>
    {% with genres=page.genres.all %}
        {% if genres %}
            <div class="row">
                <div class="col-md-12">
                    <h3>Genres</h3>
                    <ul class="list-inline">
                        {% for genre in genres %}
                            {% image genre.icon fill-32x32 title=genre.name %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-12">
            <h3>Reviews for {{ page.title }}</h3>
        </div>
    </div>

    <a href="{{ page.get_parent.url }}">Return to Catalog</a>
{% endblock %}
